<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="solr-ajax">
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <title>Search Interface to Apache Solr/Lucene</title>
        <meta name="author" content="eScholarship Research Centre, University of Melbourne">
        <meta name="description" content="AJAX web interface to Apache Solr/Lucene">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- icons -->
        <!--
        <link rel="shortcut icon" href="ico/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57x57-precomposed.png" />
        -->
        <!-- stylesheets -->
        <style>
            [ng-cloak] {display: none;}
        </style>
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="css/solr-ajax/screen.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="css/solr-ajax/facp.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="css/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css" media="screen" />
        <!-- scripts -->
        <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/d3js/d3.v3.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    </head>
    <body>

        <header id="page-header">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner" style="padding:0;">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand-title" href="#">Solr-Ajax</a>
                        <div class="nav-collapse collapse">
                            <p class="navbar-text pull-right">
                                Logged in as <a href="#" class="navbar-link">Username</a>
                            </p>
                            <ul class="nav">
                                <li class="active"><a href="documents.html">Documents</a></li>
                                <li><a href="images.html">Images</a></li>
                                <li><a href="locations.html">Locations</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="search-bar">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2 column-240">&nbsp;</div>
                    <div class="span5">

                        <form ng-controller="SearchBoxController"
                              ng-submit="handleSubmit()"
                              data-near-match="true"
                              data-search-hints-field="hints"
                              data-source="https://data.esrc.unimelb.edu.au/solr/FACP">
                            <input name="q" type="text" placeholder="Keyword or placename" ng-model="userquery" searchbox />
                            <input name="submit" type="submit" value="search" ng-click="handleSubmit()" searchbutton />
                        </form>

                    </div>
                    <div class="span5">&nbsp;</div>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="container-fluid">
                <div class="row-fluid">

                    <!-- search panel -->
                    <div id="search-panel" class="span2 column-240 bs-docs-sidebar">

                        <!-- facet selection controller -->
                        <ul class="facet-panel"
                            data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                            ng-controller="FacetSelectionController"
                            ng-show="items.length>0"
                            ng-cloak>
                            <li><b>Filtering By</b></li>
                            <li>
                                <ul class="items unstyled">
                                    <li class="facet" ng-repeat="item in items">
                                        <i class="icon-tag"></i>
                                        <a ng-click="remove($index)">
                                            <span class="value">{{item | prettyFacetLabel | swapFacetLabels}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /facet selection controller -->

                        <!-- location facet controller -->
                        <ul class="facet-panel"
                            ng-controller="FieldFacetController"
                            ng-hide="selected && exclusive"
                            data-exclusive="true"
                            data-field="region"
                            data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                            ng-cloak>
                            <li><b>State</b></li>
                            <li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value}}</a></span>
                                        <span class="facet-score" ng-show="item.score">({{item.score}})</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /location facet controller -->

                        <!-- function facet controller -->
                        <ul class="facet-panel"
                            ng-controller="FieldFacetController"
                            ng-hide="selected && exclusive"
                            data-exclusive="false"
                            data-field="function"
                            data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                            ng-cloak>
                            <li><b>Function</b></li>
                            <li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value}}</a></span>
                                        <span class="facet-score" ng-show="item.score">({{item.score}})</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- function facet controller -->

                        <!-- type facet controller -->
                        <ul class="facet-panel"
                            ng-controller="FieldFacetController"
                            ng-hide="selected && exclusive"
                            data-exclusive="false"
                            data-field="localtype"
                            data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                            ng-cloak>
                            <li><b>Type</b></li>
                            <li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value | cleanFacetLabel }}</a></span>
                                        <span class="facet-score" ng-show="item.score">({{item.score}})</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /type facet controller -->

                        <!-- date range facet controller -->
                        <ul id="date-range-panel"
                            class="facet-panel"
                            ng-controller="DateFacetController"
                            data-start-date-field="fromDate"
                            data-end-date-field="toDate"
                            data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                            ng-cloak>
                            <li><b>Dates</b></li>
                            <li>
                                <div id="date-histogram"
                                     ng-controller="DateFacetHistogramController"
                                >

                                </div>

                                <form class="form-horizontal" ng-submit="submit()" style="margin-bottom:0px;">
                                    <div id="date-range-histogram"></div>
                                    <table class="table-horizontal">
                                        <tr>
                                            <td style="font-size:small">
                                                <div class="input-prepend">
                                                    <span class="add-on">From</span>
                                                    <input id="fromDate" name="startDate" class="year-input" type="text" ng-model="startDate" size="4" />
                                                </div>
                                            </td>
                                            <td class="pull-right" style="font-size:small;align:right">
                                                <div class="input-prepend pull-right">
                                                    <span class="add-on">To</span>
                                                    <input id="toDate" name="endDate" class="year-input" type="text" ng-model="endDate" size="4" />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <button style="position: absolute; left: -9999px; width: 1px; height: 1px;">Update</button>
                                </form>
                            </li>
                        </ul>
                        <!-- /date range facet controller -->

                        <!-- search history panel -->
                        <ul class="facet-panel" ng-controller="SearchHistoryController" ng-cloak>
                            <li><b>Search History</b></li>
                            <li>
                                <ul class="unstyled">
                                    <li ng-repeat="query in queries">
                                        <a ng-href="{{query.getUrl()}}">{{query.getUserQuery()}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /search history panel -->

                    </div>
                    <!-- /search panel -->

                    <!-- search results -->
                    <div id="search-results"
                         class="span5"
                         ng-controller="DocumentSearchResultsController"
                         data-fields="*"
                         data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                         ng-cloak>
                        <div class="column-512">

                            <div class="loading" ng-show="loading" ng-cloak>
                                <p>Loading search results ...</p>
                                <img src="img/ajax-loader-bar.gif" alt="Loading search results" />
                            </div>

                            <div class="summary" ng-show="documents.length > 0" ng-cloak>
                                <div style="padding-bottom: 20px;">Search Results ({{totalResults}} found)</div>
                                <div class="alert alert-error" ng-show="error">{{error}}</div>
                                <div class="alert alert-info" ng-show="message">{{message}}</div>
                            </div>

                            <article ng-repeat="doc in documents" class="document" ng-cloak>
                                <a ng-href="{{doc.presentation_url}}" class="title">{{doc.title}}</a>
                                <div class="thumb" ng-show="doc.dobj_proxy_small" style="margin-left:10px;">
                                    <a ng-href="{{doc.presentation_url}}" class="thumbnail">
                                        <img ng-src="{{doc.dobj_proxy_small}}" alt="{{doc.title}}" height="64px" width="64px" />
                                    </a>
                                </div>
                                <div class="text">{{doc.abstract | truncate:250 }}</div>
                                <div class="meta inline">
                                    <span class="region" ng-show="doc.region">{{doc.region}}</span>
                                    <span class="country" ng-show="doc.country">{{doc.country}}</span>
                                    <div class="existdates">
                                        <span>{{doc.fromDate}}</span>
                                        <span ng-show="doc.toDate">&ndash;</span>
                                        <span>{{doc.toDate}}</span>
                                    </div>
                                </div>
                            </article>

                            <div class="pagination" ng-hide="error" ng-cloak>
                                <ul>
                                    <li ng-repeat="page in pages">
                                        <a ng-class="{iscurrent:page.isCurrent}" ng-click="$parent.handleSetPage(page.number)">{{page.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /search results -->

                        <!-- display results on map -->
                        <div style="display:block;font-size:small;margin:0 0 10px 0;padding:0px;" class="span4">
                            <a href="locations.html"><img src="img/map-results-32.png" class="thumbnail" style="display:inline;"></a>
                            <span style="display:inline;padding-left:10px;">
                                <a href="locations.html" style="font-size:x-small;font-weight:normal">Show search results on map</a>
                            </span>
                        </div>
                        <!-- /display results on map -->

                    </div>
                    <!-- /search results panel -->

                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </section>

        <footer id="footer">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div>
                        EAC-CPF faceted search interface to Apache Solr.
                        A project of the
                        <a href="http://www.esrc.unimelb.edu.au/">eScholarship Research Centre</a>, University of Melbourne.
                    </div>
                </div>
            </div>
        </footer>

    <!-- scripts -->
    <script type="text/javascript" src="js/solr-ajax/controllers/DateFacetController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/DateFacetHistogramController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/DocumentSearchResultsController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/FacetSelectionController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/FieldFacetController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/SearchBoxController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/controllers/SearchHistoryController.js"></script>
    <script type="text/javascript" src="js/solr-ajax/directives/autocomplete.js"></script>
    <script type="text/javascript" src="js/solr-ajax/filters/textfilters.js"></script>
    <script type="text/javascript" src="js/solr-ajax/services/selection.js"></script>
    <script type="text/javascript" src="js/solr-ajax/services/solr.js"></script>
    <script type="text/javascript" src="js/solr-ajax/services/utils.js"></script>
    <script type="text/javascript" src="js/solr-ajax/app/document.js"></script>

    </body>
</html>
